@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply
        bg-sky-500
        hover:bg-gray-700
        text-white
        py-3
        px-4
        m-0.5
        rounded-sm
    }
    .checkr {
        @apply
        border-4
        border-rose-900

    }
    .checkg {
        @apply
        border-4
        border-green-900
    }

    .checkb {
        @apply
        border-4
        border-blue-900
    }

    h2{
        @apply
        text-slate-900
        text-2xl
        sm:text-4xl 
        font-bold 
        sm:mb-8
    }

    h3{
        @apply
        text-slate-900
        text-3xl
        font-bold
    }

    h4{
        @apply
        text-slate-900
        text-xl
        font-bold
    }

    p{
        @apply
        font-normal 
        
    }

    ol{
        @apply
        list-decimal
        font-semibold
        text-lg
        ml-4
    }

    li{
        @apply
        mt-4
    }

    ul{
        @apply
        list-disc
        ml-6
        font-normal
    }

    ul li {
        @apply
        mt-0
    }

    span{
        @apply
        font-semibold
    }

    a{
        @apply
        text-blue-500
    }


    .tabs {
        @apply
        flex
        text-lg
      }
      
      .tab-item {
        @apply
        cursor-pointer
        px-8
      }
      
      .tab-content {
        display: none;
      }
      
      .active .tab-content {
        @apply
        block
        border-t-4
      }

}
