@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply
        bg-blue-400
        hover:bg-gray-700
        text-white
        py-2
        px-4
        m-0.5
        text-sm
        rounded-md
    }

    h2{
        @apply
        text-4xl 
        font-bold 
        mb-8
    }

    h3{
        @apply
        text-3xl
        font-bold
    }

    h4{
        @apply
        text-xl
        font-bold
    }

    p{
        @apply
        font-normal 
        text-lg 
    }

    ol{
        @apply
        list-decimal
        font-semibold
        text-lg
        ml-4
    }

    li{
        @apply
        mt-4
    }

    ul{
        @apply
        list-disc
        ml-6
        font-normal
    }

    ul li {
        @apply
        mt-0
    }

    span{
        @apply
        font-semibold
    }

    a{
        @apply
        text-blue-500
    }


    .tabs {
        @apply
        flex
        text-lg
      }
      
      .tab-item {
        @apply
        cursor-pointer
        px-8
      }
      
      .tab-content {
        display: none;
      }
      
      .active .tab-content {
        @apply
        block
        border-t-4
      }

}
